[submodule "readium-sdk"]
	path = readium-sdk
	url = https://github.com/rahulk11/readium-sdk.git
[submodule "readium-shared-js"]
	path = readium-shared-js
	url = https://github.com/rahulk11/readium-shared-js.git
